*
!.gitignore
**/.DS_Store
.DS_Store

!bat
!bat/**/*

!brew
!brew/**/*

!beets
!beets/config.yaml

!fish
!fish/**/*
fish/local.fish
fish/fish_variables
fish/completions
fish/conf.d

!git
!git/**/*

!kitty
!kitty/**/*

!lazygit
!lazygit/**/*

!nvim
!nvim/**/*

!scripts
!scripts/**/*

!skhd
!skhd/**/*

!tmux
!tmux/**/*
tmux/plugins

!wallpapers
!wallpapers/**/*
