*
!.gitignore
**/.DS_Store
.DS_Store

!bat
!bat/**/*

!brew
!brew/**/*

!beets
!beets/config.yaml

!fish
!fish/**/*
fish/local.fish
fish/fish_variables
fish/completions/**/*
!fish/completions/theme.fish
fish/conf.d

!fuzeel
!fuzeel/**/*

!keyd/
!keyd/**/*

!git
!git/**/*

!kitty
!kitty/**/*

!lazygit
!lazygit/**/*

!niri
!niri/**/*

!nvim
!nvim/**/*

!scripts
!scripts/**/*

!skhd
!skhd/**/*

!tmux
!tmux/**/*
tmux/plugins

!wallpapers
!wallpapers/**/*

!yambar
!yambar/**/*
