*
!.gitignore
**/.DS_Store
.DS_Store

!bat
!bat/**/*

!fish
!fish/**/*
fish/ssh.fish
fish/fish_variables
fish/completions

!kitty
!kitty/**/*

!lazygit
!lazygit/**/*

!nvim
!nvim/**/*

!tmux
!tmux/**/*
tmux/plugins
